<div class="modal fade" id="confirmSaveModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content modal-content-custom">

            <!-- Icon -->
            <div id="confirmSaveIcon" class="modal-icon">
                <img src="" />
            </div>

            <!-- Text -->
            <div id="confirmSaveText" class="modal-text"></div>

            <!-- Buttons -->
            <div class="modal-buttons">
                <button type="button" id="confirmSaveCancel" class="modal-button btn-cancel">Cancel</button>
                <button type="button" id="confirmSaveBtn" class="modal-button btn-confirm">Okay</button>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="successModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content modal-content-custom">
            <div id="successIcon" class="modal-icon"><img src="" /></div>
            <div id="successText" class="modal-text modal-text-success"></div>
            <button type="button" id="successBtn" class="modal-button-full btn-full-confirm">Okay</button>
        </div>
    </div>
</div>

<div class="modal fade" id="errorModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content modal-content-custom">
            <div id="errorIcon" class="modal-icon"><img src="" /></div>
            <div id="errorText" class="modal-text"></div>
            <button type="button" id="errorBtn" class="modal-button-full btn-full-error">Okay</button>
        </div>
    </div>
</div>

<div class="modal fade" id="confirmDeleteModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content modal-content-custom">
            <div id="deleteIcon" class="modal-icon"><img src="" /></div>
            <div id="deleteText" class="modal-text"></div>
            <div class="modal-buttons">
                <button type="button" id="deleteCancel" class="modal-button btn-cancel">Cancel</button>
                <button type="button" id="deleteConfirm" class="modal-button btn-delete">Delete</button>
            </div>
        </div>
    </div>
</div>
