@{
    ViewData["Title"] = "Employees";
}

@Html.AntiForgeryToken()

@section Style {
    <link href="~/templates/css/pages/modal.css" rel="stylesheet" />
    <style>
        .btn.filled {
            padding-top: 15px;
            direction: rtl;
        }
    </style>
}

<main class="page">

    <!-- Header -->
    <div class="page-header">
        <h2 class="page-title">Employees</h2>
        <div class="header-buttons">
            <a asp-action="Create" class="btn filled">
                <img src="~/templates/assets/images/icons/plus.svg" class="addbtn-icon white-icon">
                Add Employee
            </a>
        </div>
    </div>

    <!-- Filters -->
    <div class="filters-box">
        <div class="search-bar">
            <img src="~/templates/assets/images/icons/search.svg" class="search-icon">
            <input type="text" id="js-Search" placeholder="Search employee by name or department..." />
        </div>
        <div class="filters">
            <button class="reset-filter" type="button" id="btnReset">
                <img src="~/templates/assets/images/icons/filterVector.svg" class="filter-icon">
                <span>Reset</span>
            </button>
            <div class="filter-item">
                <select class="filter-select" id="DepartmentFilter">
                    <option value="">All Departments</option>
                    @if (ViewBag.Departments != null)
                    {
                        foreach (var item in ViewBag.Departments)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    }
                </select>
            </div>
            <div class="filter-item">
                <select class="filter-select status-filter" id="StatusFilter">
                    <option value="">All Status</option>
                    <option value="true">Active</option>
                    <option value="false">Inactive</option>
                </select>
            </div>
        </div>
    </div>

    <!-- Table -->
    <div class="table-box">
        <table class="main-table" id="EmployeesTable">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Mobile</th>
                    <th>Department</th>
                    <th>Job Title</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>

    <div class="table-controls">
        <div class="target-length"></div>
        <div class="target-search"></div>
        <div class="target-pagination"></div>
        <div class="target-info"></div>
    </div>

</main>

@section Scripts {
    <script src="~/modules/employee/index.js"></script>
}
